* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainHeader4 {
    display: inline;
    color: #265b8c;
    border-bottom: 3px solid #265b8c;
    font-size: 35px;
    margin-left: 30px;
}
.settingsDiv4 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

.address4 {
    display: flex;
    justify-content: center;
}

.addressDirection4 {
    font-weight: bold;
    color: rgb(100, 100, 100);
    padding-right: 15px;
}

.address4 span {
    font-size: 12px;
    padding: 3px 5px 0px 5px;
}

.address4 a {
    color:#265b8c;
}
.link4 {
    color:#265b8c;
    width: 60%;
    display: block;
    font-size: 18px;
}
.icons4 {
    background-color: #265b8c;
    width: 100px;
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
    height: 25px;
}

.ion4 {
    color:white;
    font-size: 20px;
}

.lowerButton4 {
    width: 100%;
    background-color: #265b8c;
    color: white;
    border-style: none;
    font-size: 20px;
    padding: 5px;
}
.bulletinBox4 {
    width: 31.5%;
    background-color: whitesmoke;
    margin-top: 20px;
    height:fit-content
}
.bulletinList4 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.para4 {
    margin-top: 35px;
    color: rgb(100, 100, 100);
}

.upperBox4 {
    padding: 10px 10px;
    overflow-wrap: break-word;
}

.bulletinHolder4 h2 {
    margin-bottom: 10px;
    color: rgb(87, 86, 86);
}
.bulletinHolder4 {
    width: 95%;
    border:1px solid rgb(199, 195, 195);
    padding: 10px 30px;
}

.mainFlex4 {
    display: flex;
    justify-content: center;
}

.mainFlex24 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.bulletinHolder24 {
    width: 95%;
    border:1px solid rgb(199, 195, 195);
    padding: 10px 30px;
}

.bulletinList24 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.bulletinBox24 {
    width: 31.5%;
    background-color: whitesmoke;
    margin-top: 20px;
    height:fit-content;
    margin-right: 30px;
}
.here-3 {
    font-size: 0.8rem;
    word-spacing: 3px;
    font-weight: bold;
    margin: 10px 10px 30px 30px;
}

.here-3 a {
    font-weight: 100;
    word-spacing: normal;
}

.title-3 {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    margin-bottom: 50px;
}

.title-3 a {
    font-weight: 100;
    font-size: 2rem;
    color: #265b8c;
}

.title-3 .icons-3 {
    display: flex;
    justify-content: space-between;
    width: 100px;
    font-size: 1.5rem;
    color: white;
    background-color: #265b8c;
    height: fit-content;
    padding: 5px 10px;
}

.body-3 {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;   
}

.tab-header-3 {
    display: block;
    font-size: 1.1rem;
    color: white;
    background-color: #265b8c;
    width: 100%;
    padding: 7px 10px;
}

.leftside-3, .rightside-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
    height: 600px;
}

.rightside-3 {
    height: 330px;
}

.left1-3, .left2-3, .left3-3, .right1-3, .right2-3 {
    border: grey solid 1px;
}

.left1-3 p {
    font-size: 1.1rem;
    padding: 10px 10px;
    color: rgb(66, 66, 66);
}

.left1-3 .link-3 {
    display: block;
    color: #265b8c;
    font-size: 1.1rem;
    background-color: rgb(223, 217, 217);
    padding: 5px;
    margin: 5px 10px;
}

.left2-3 .calendar-3 {
    display: block;
    text-align: right;
    margin: 5px 10px 0px 0px;
    font-size: 1.1rem;
    color: #265b8c;
}

.left2-3 p {
    font-size: 1.3rem;
    margin-left: 10px;
    color: rgb(66, 66, 66);
}

.left3-3 .icons-3 {
    text-align: right;
    margin: 10px 15px 30px 0px;
    font-size: 1.7rem;
    color: #265b8c;
}

.left3-3 p {
    font-size: 1.1rem;
    padding: 10px 10px;
    color: rgb(66, 66, 66);
}

.right1-3 br {
    height: 30px;
}

.right2-3 p, .filler-3 {
    color: rgb(66, 66, 66);
    padding: 10px;
}

.rightside-3 span {
    font-weight: bold;
}
/* #265b8c */
*, *:before, *:after {box-sizing: border-box; padding: 0; margin: 0;}
.title-2{
    Font-size: 2.5rem;
    text-decoration: none;
    float: left;
    margin-left: 2%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
.title-2:link{
    color: #265B8C;
} 
.title-2:visited{
    color: #265B8C;
}
.title-2:hover{
    color: #265B8C;
}

.title-2:active{
    color: #265B8C;
}

.left-flex-parent-2{
    display: flex;
    clear: left;
    width: 45%;
    height: 130vh;
    margin-left: 2%;
    flex-direction: column;    
}
.course-catalog-child-2{
    width: 100%;
    height: 60vh;
    margin-bottom: 10vh;
    border: 2px solid lightgrey;
}
.course-catalog-title-2{
    background-color: #265B8C;
    height: 10%;
    width: 100%;
    color: white;
    padding-left: 10px;
    padding-top: 8px;
    font-size: 1.2rem;
}
.course-catalog-direction-2{
    background-color: lightgrey;
    height: 10%;
    padding-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    font-size: 1rem;
}
.survey-child-2{
    display: flex;
    width: 100%;
    height: 60vh;
    flex-direction: column;
    border: 2px solid lightgrey;
}
.left-boxes-2{
    display: flex;
    width: 50%;
    height: 70%;
    float: left;
    padding-left: 25px;
}
.right-boxes-2{
    display: flex;
    float: left;
    width: 50%;
    height: 70%;

}
.boxes-2{
    height: 15%;
    border-radius: 5px;
}
.image-2{
    background-image: url(images/fall\ 2021\ student\ academic\ opinion\ survey.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 600;
    margin-top: 5px;
    margin: auto;
}
.flex-parent-2{
    display: flex;
    clear: left;
}
.right-flex-parent-2{
    margin-left: 5%;
    width: 45%;
    float: right;
}
.announcements-2{
    height: 15vh;
    border: 2px solid lightgrey;
    width: 100%;
}
.calender-2{
    height: 40vh;
    border: 2px solid lightgrey;
    width: 100%;
}
.announcements-title-2{
    background-color: #265B8C;
    width: 100%;
    color: white;
    padding-left: 10px;
    padding-top: 8px;
    font-size: 1.2rem;
}
.notice-2{
    padding-top: 4%;
    margin-left: 5%;
}




/* #265b8c #D1D1D1 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 150px;
}

.pages-5{
    display: flex;
    height: 500px;
    width: 100%;
    flex-direction: column;
    border: 1px solid black;
}

.you-are-here-5{
    display: flex;
    width: 100%;
}

.here-5{
    color: rgb(97, 97, 97);
    padding-left: .5%;
    padding-top: 1%;
}

.setup5{
    display: flex;
    height: 300px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(179, 179, 179);
    margin-top: 75px;
    flex-direction: column;
}

.setup-head-5{
    height: 40px;
    width: 100%;
    background-color: #265b8c;
}

p.my-pages-5{
    color: white;
    padding-top: 10px;
    padding-left: 5px;
}

h2.welcome-5{
    color: rgb(97, 97, 97);
    padding-top: 20px;
    padding-left: 20px;
    font-size: 14pt;
}    

p.descript-5{
    padding-left: 20px;
    padding-top: 20px;
    color: rgb(97, 97, 97);
}

.arrows5{
    font-size: 175%;
    color: #265b8c;
    --ionicon-stroke-width: 20px;
}

div.arrows-5{
    padding-top: 50px;
    padding-left: 30px;
    display: flex;
}

p.previous-5{
    padding-left: 10px;
    padding-top: 5px;
    color: rgb(97, 97, 97);
}

a{
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 10px;
    color: #265b8c;
}

a.exit-5{
    padding-top: 40px;
}

footer{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

a.footer{
    color: #265b8c;
    text-decoration: none;
    font-weight: bold;
}

a.footer:hover{
    text-decoration: underline;
}


.login-header {
    display: flex;
    justify-content: right;
    padding-right: 6%;
    padding-top: 1%;
}

.header-icon {
    font-size: 2rem;
    padding: .2rem;
    color: #265b8c;
}

.search-icon {
    padding-right: 2%;
}

.profile-iconbox {
    border: .1rem solid #265b8c;
    border-radius: 50%;
}

.page-header {
    display: flex;
    justify-content: left;
    text-transform: capitalize;
    margin-top: 3%;
    background-color: #265b8c;
    height: 43px;
    
}

.nav-1 {
    text-decoration: none;
    background-color: #265b8c;
    color: white;
    font-size: 1.2rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .7%;
    min-width: 20px;
    min-height: 10px;
}

.nav-1:hover {
    text-decoration: none;
    background-color: rgb(250, 218, 218);
    color: #265b8c;
    font-size: 1.2rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .7%;
    min-width: 20px;
    min-height: 10px;
}

.nav-2 {
    text-decoration: none;
    background-color: #265b8c;
    color: white;
    font-size: 1.2rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .7%;
    min-width: 20px;
    min-height: 10px;
}

.nav-2:hover {
    text-decoration: none;
    background-color: rgb(250, 218, 218);
    color: #265b8c;
    font-size: 1.2rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .7%;
    min-width: 20px;
    min-height: 10px;
}

.nav-3 {
    text-decoration: none;
    background-color: #265b8c;
    color: white;
    font-size: 1.2rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .7%;
    min-width: 20px;
    min-height: 10px;
}

.nav-3:hover {
    text-decoration: none;
    background-color: rgb(250, 218, 218);
    color: #265b8c;
    font-size: 1.2rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .7%;
    min-width: 20px;
    min-height: 10px;
}

.nav-4 {
    text-decoration: none;
    background-color: #265b8c;
    color: white;
    font-size: 1.2rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .7%;
    min-width: 20px;
    min-height: 10px;
}

.nav-4:hover {
    text-decoration: none;
    background-color: rgb(250, 218, 218);
    color: #265b8c;
    font-size: 1.2rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .7%;
    min-width: 20px;
    min-height: 10px;
}

.nav-5 {
    text-decoration: none;
    background-color: #265b8c;
    color: white;
    font-size: 1.2rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .7%;
    min-width: 20px;
    min-height: 10px;
}

.nav-5:hover {
    text-decoration: none;
    background-color: rgb(250, 218, 218);
    color: #265b8c;
    font-size: 1.2rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .7%;
    min-width: 20px;
    min-height: 10px;
}


.address1 {
    display: flex;
    justify-content: left;
    margin: .8%;
}

.addressDirection1 {
    font-weight: bold;
    color: rgb(100, 100, 100);
    padding-right: 15px;
}

.address1 span {
    font-size: 12px;
    padding: 3px 5px 0px 5px;
}

.address1 a {
    color:#265b8c;
}


.intro-link {
    font-size: 2rem;
    width: 100%;
}

.intro-link a {
    font-size: 2rem;
    color: #265b8c;
}


.section-1 {
    display: flex;
    justify-content: left;
}

.section-1 a {
    color: white;
    padding-top: 3%;
    padding-left: 2%;
}

.section-1-tool {
    flex-direction: column;
}

.top-col-box-1 {
    margin-top: 2%;
    height: 38px;
    width: 400px;
    background-color: #265b8c;
    margin-right: 10px;
}

.top-col-content-1 {
    border: 1px solid grey;
    height: 400%;
    overflow: hidden;
    margin-right: 10px;
}

.bottom-col-content-1 {
    border: 1px solid grey;
    height: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.top-col-box-2 {
    margin-top: 3%;
    height: 38px;
    width: 300px;
    background-color: #265b8c;
}

.top-col-content-2 {
    border: 1px solid grey;
    height: 100%;
}

.bottom-col-content-2 {
    border: 1px solid grey;
    height: 25px;
    overflow: hidden;
    margin-right: 10px;
}
